<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header"> <h1>Product</h1>
      <nav class="navigation">
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/users'>users</a></li>
        <li><a href='/product'>Product</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
