<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header class="header">
      <h1>Yard Sale</h1>
        <nav>
        <ul class="navigation-links">
          <li><a href='/' class="navigation-link">Home</a></li>
          <li><a href='/users'class="navigation-link">users</a></li>
          <li><a href='/product'class="navigation-link">Product</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
